NEXT_PUBLIC_ADMIN_ID=admin_id_here
NEXT_PUBLIC_SUPABASE_URL=supa_url_here
SUPABASE_SERVICE_ROLE_KEY: service_role_key_here
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=clerk_publishable_key_here
CLERK_SECRET_KEY=clerk_secret_key_here
OPENROUTER_API_KEY=openrouter_key_here